@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.container-mini {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 110px 0;
    height: 100%;
}

.col-1-2 {
    flex-basis: 50%;
    height: 100%;
}

.hero-banner {
    background-image: url(../images/banner-hero\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-banner .content {
    padding: 196px 0;
    margin: 0 auto;
}

.hero-banner .content h2 {
    font-family: "Domine", serif;
    color: #B36F36;
    font-size: 68px;
    font-weight: 500;
    line-height: 77px;
    margin-bottom: 55px;
}

.hero-banner .content p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #4B2E25;

}

.faunus-plant-section .container {
    background: #EDDCC2;
}

.faunus-plant-section .container .row {
    gap: 50px;
}

.faunus-plant-section .content {
    color: #4B2E25;
    text-align: left;

}

.faunus-plant-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 70px;
}

.faunus-plant-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

.quality-section {
    margin: 110px 0;
}

.quality-section .quality-gallery .qualitys .type-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    margin-bottom: 32px;

}

.quality-section .quality-gallery .qualitys .type-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
}

.quality-section .quality-gallery .qualitys .quality {
    border: 1px solid grey;
    color: #B36F36;
}

.quality-section .quality-gallery .qualitys .quality .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 55px;

}

.quality-section .quality-gallery .qualitys .quality .content p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.quality-section .quality-gallery .qualitys .quality .content img {
    width: 100px;
    aspect-ratio: 1/1;
    margin-bottom: 32px;
}