@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.container-mini {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 110px 0;
    column-gap: 100px;

}

/* nav for mobile device  */
.mobile-nav {
    display: none;
}

.mobile-nav .wrapper {
    background: #F9F8F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
}

.mobile-nav .wrapper .part1 {
    flex-basis: 35%;
}

.mobile-nav .wrapper .part2 {
    flex-basis: 65%;
}

.mobile-nav .wrapper .part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}

.mobile-nav .wrapper .part1 .toggle-btn {
    position: relative;

}

#toggle1,
#toggle2 {
    width: 20px;
    height: 15px;
    cursor: pointer;


}

#toggle2 {
    border: 1px solid #4B2E25;
    padding: 1px;
    display: none;

}

.mobile-nav .wrapper .part1 .logo img {
    width: 79px;
    height: 51.12px;
}



.mobile-nav .wrapper .part2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.mobile-nav .wrapper .part2 img {
    width: 20px;
}

.mobile-nav .wrapper .part2 .cart {
    position: relative;
}

.mobile-nav .wrapper .part2 .cart span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0px 4.44px 0px 4.73px;
    background: #49682F;
    color: #fff;
    bottom: -4px;
    right: -5px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;


}

.mobile-nav .telephone {
    background: #4B2E25;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;
}

.mobile-nav .telephone img {
    width: 15px;
}

.mobile-nav .telephone span {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}

/* nav for mobile device end  */
/* nav for larger device start  */
.big-nav .sub-nav {
    background: #F9F8F2;
}

.big-nav .sub-nav .content {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.big-nav .sub-nav .content .logo {
    margin-right: auto;
}

.big-nav .sub-nav .content .logo img {
    width: 120px;
}

.big-nav .sub-nav .content .phone-address {
    display: flex;
    align-items: center;
    gap: 20px;
}

.big-nav .sub-nav .content .phone-address .phone {
    display: flex;
    align-items: center;
    gap: 13px;
}

.big-nav .sub-nav .content .phone-address .phone span {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #49682F;
}


.big-nav .sub-nav .content .phone-address .address p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #313131;
    position: relative;



}

.big-nav .sub-nav .content .phone-address .address p::after {
    content: "";
    position: absolute;
    height: 60%;
    width: .7px;
    top: 25%;
    bottom: 25%;
    left: -10px;
    background: #313131;
}

.big-nav .main-nav {
    background: #4B2E25;
}

.big-nav .main-nav .menus ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.big-nav .main-nav .menus ul li a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ffff;
    text-decoration: none;
    padding: 16px 0px;
    display: block;

}

.big-nav .sub-nav .content .search {
    margin: 0 40px;
}

.big-nav .sub-nav .content .search input[type=search] {
    width: 352px;
    height: 38px;
    padding: 6px 12px 6px 16px;
    border-radius: 20px;
    border: 1px solid;

}

.big-nav .sub-nav .content .search input[type=submit] {
    display: none;
}

.big-nav .sub-nav .content .search input[type=search]::placeholder {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.25px;
}

.big-nav .sub-nav .content .search .input-control {
    position: relative;
}

.big-nav .sub-nav .content .search .input-control label {
    position: absolute;
    right: 12px;
    top: 25%;
    cursor: pointer;
}

.big-nav .sub-nav .content .search .input-control label img {
    height: 20px;
    width: 20px;
}

.big-nav .sub-nav .content .client {
    margin-right: 30px;
}

.big-nav .sub-nav .content .client,
.big-nav .sub-nav .content .cart {
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    color: #4B2E25;

}

.big-nav .sub-nav .content .cart {
    position: relative;
}

.big-nav .sub-nav .content .cart span {
    position: absolute;
    bottom: -6px;
    left: 9px;
    height: 21px;
    width: 21px;
    padding: 0px 5.33px 0px 5.67px;
    border-radius: 50%;
    background: #49682F;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #fff;


}

/* nav for larger device end  */

.hero-banner {
    background-image: url(../images/banner-hero\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-banner .content {
    padding: 196px 0;
    margin: 0 auto;
}

.hero-banner .content h2 {
    font-family: "Domine", serif;
    color: #B36F36;
    font-size: 68px;
    font-weight: 500;
    line-height: 77px;
    margin-bottom: 55px;
}

.hero-banner .content p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #4B2E25;

}

.faunus-plant-section .container {
    background: #EDDCC2;
}

.faunus-plant-section .content {
    color: #4B2E25;
    text-align: left;

}

.faunus-plant-section .content .img {
    display: none;
}

.faunus-plant-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 70px;
}

.faunus-plant-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

.col-1-2 .img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faunus-plant-section .img img {
    aspect-ratio: 10/6.5;
}

.quality-section {
    padding: 110px 0;
}

.quality-section .container {
    background: #F9F8F2;
}

.quality-section .quality-gallery .qualitys .type-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    margin-bottom: 32px;

}

.quality-section .quality-gallery .qualitys .type-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
}

.quality-section .quality-gallery .qualitys .quality {
    border: 1px solid grey;
    color: #B36F36;
}

.quality-section .quality-gallery .qualitys .quality .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 55px;

}

.quality-section .quality-gallery .qualitys .quality .content p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.quality-section .quality-gallery .qualitys .quality .content img {
    width: 100px;
    aspect-ratio: 1/1;
    margin-bottom: 32px;
}

/* asociatia-section */
.asociatia-section .container {
    background:
        #757F5F;
    color: #fff;
}

.asociatia-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 70px;
}

.asociatia-section .content h2>span {
    font-weight: 700;
}

.asociatia-section .content .img {
    display: none;
}

.asociatia-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

/* team work */
.team-work-section {
    margin: 110px 0;
}

.team-work-section .container .row {
    justify-content: center;
    padding: 0;
    gap: 0;
}


.team-work-section .row:nth-child(odd) .content {
    padding-left: 100px;
    padding-right: 50px;
}

.team-work-section .row:nth-child(even) .content {
    padding-right: 100px;
    padding-left: 50px;
}

.team-work-section .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding: 70px 0;
}


.team-work-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 34px;
    font-weight: 400;
    line-height: 46px;
    color: #313131;
    margin-bottom: 40px;


}

.team-work-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #313131;

}

.team-work-section .container .row .col-1-2 .img {
    height: 100%;
}

.team-work-section .container .row .col-1-2 .img img {
    height: 100%;
}

.mereu-timpul .container {
    background: #EDDCC2;
    padding-top: 110px;
    padding-bottom: 250px;
    position: relative;
}

.mereu-timpul .container .content-1 {
    width: 80%;
    margin: 0 auto;
}

.mereu-timpul .container .content-1 h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #4B2E25;
    margin-bottom: 60px;
}

.mereu-timpul .container .content-1 p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #4B2E25;

}

.mereu-timpul .container .sub-content {
    width: 80%;
    height: auto;
    background-image: url(../images/sb-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    position: absolute;
    bottom: -50%;
    left: 10%;
    border-radius: 50px;


}

.mereu-timpul .container .sub-content .items {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
}

.mereu-timpul .container .sub-content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-bottom: 60px;
}

.mereu-timpul .container .sub-content p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;

}

.mereu-timpul .container .sub-content button {
    margin-top: 42px;
    padding: 20px 40px;
    border-radius: 50px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    color: #49682F;
    border: none;


}

.suntem-section .container {
    background: #F9F8F2;
    padding: 400px 0 110px 0;
}

.suntem-section .container .content {
    width: 50%;
    margin: 0 auto;
}

.suntem-section .container .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #313131;
    margin-bottom: 60px;
}

.suntem-section .container .content p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}

/* footer section */
footer .container {
    background: #ffff;
    padding-top: 140px;
    padding-bottom: 40px;
}

footer .container .footer-top .content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

footer .container .footer-top .content .media {
    display: none;
    align-items: center;
}

footer .container .footer-top .content .media img {
    max-width: 30px;
}

footer .container .footer-top .content .footer-list .list-title {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #4B2E25;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .footer-top .content .footer-list .list-title img {
    display: none;
}

footer .container .footer-top .content .footer-list .list-description {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #4B2E25;
    margin-bottom: 12px;
}

footer .container .footer-top .content .footer-list ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    list-style: none;
}

footer .container .footer-top .content .footer-list ul li {
    display: flex;
    align-items: center;
    justify-content: start;
}

footer .container .footer-top .content .footer-list ul a {
    display: block;
}

footer .container .footer-top .content .footer-list ul a,
footer .container .footer-top .content .footer-list ul li {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #4B2E25;
    text-decoration: none;

}

footer .container .footer-top .content .footer-list ul li span {
    display: flex;
    align-items: start;
    gap: 1px;
    padding: 13px 8px;
    margin-right: 5px;
    background: #E1E7DD;
    color: #49682F;
    font-weight: 700;
}

footer .container .footer-top .content .footer-list ul li span img {
    width: 24px;
    margin-right: 3px;
}

footer .container .footer-top .content .footer-list ul .footer-phone {
    margin-bottom: 30px;
}

footer .container .footer-top .content .footer-list ul li>img {
    width: 57px;
    padding: 7px;
}

/* footer bottom */
.footer-bottom {
    padding-top: 114px;
    margin-top: 50px;
    border-top: 1px solid;
}

.footer-bottom .content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 24px 0;
}

.footer-bottom .content ul li {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #4b2e258f;
}

.footer-bottom .content ul .copy-r {
    list-style: none;
}

/* for mobile */
@media only screen and (max-width: 600px) {

    /* nav for mobile device  */
    .mobile-nav {
        display: block;
    }

    .big-nav {
        display: none;
    }

    /* nav for mobile device end */

    .container {
        padding: 0 20px;
    }

    .container-mini {
        width: 100%;
    }

    .row {
        padding: 40px 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-banner {
        background-position: 18%;

    }

    .hero-banner .content {
        padding: 50px 0;
        background: rgba(255, 255, 255, 0.217);
        width: 100%;

    }


    .hero-banner .content h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;

    }

    .hero-banner .content p {
        font-size: 16px;
        line-height: 26px;

    }

    .faunus-plant-section .content {
        color: #4B2E25;
        text-align: center;

    }

    .faunus-plant-section .content .img {
        display: block;
        padding: 30px 0;
    }

    .faunus-plant-section .content h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    .faunus-plant-section .content p {
        font-size: 16px;
        line-height: 24px;

    }

    .faunus-plant-section .col-1-2:nth-child(2) {
        display: none;
    }


    .faunus-plant-section .img img {
        aspect-ratio: inherit;
    }

    .quality-section {
        padding: 40px 10px;
    }

    .quality-section .quality-gallery .qualitys .type-1 {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 32px;

    }

    .quality-section .quality-gallery .qualitys .type-2 {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 32px;
    }

    .quality-section .quality-gallery .qualitys .quality .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;
        text-align: start;



    }

    .quality-section .quality-gallery .qualitys .quality .content p {
        font-size: 18px;
        line-height: 22px;

    }


    .quality-section .quality-gallery .qualitys .quality .content img {

        margin-bottom: 0;
        width: 90px;
        margin-right: 10px;
    }

    /* asociatia-section */
    .asociatia-section .content {
        text-align: center;
    }

    .asociatia-section .content h2 {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 50px;
        line-height: 34px;
        text-align: center;


    }

    .asociatia-section .content .img {
        display: block;
        padding: 30px 0;
    }

    .asociatia-section .col-1-2:first-child {
        display: none;
    }

    /* team work */

    .team-work-section .container .row:first-child {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;

    }

    .team-work-section .container .row:last-child {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .team-work-section .row:nth-child(odd) .content {
        padding-left: 0px;
        padding-right: 0px;
        text-align: end;
    }

    .team-work-section .row .content h2 {
        margin: 10px 0;
        font-size: 24px;
        line-height: 33px;

    }



    .team-work-section .row:nth-child(odd) .img {
        margin-right: -6%;
    }

    .team-work-section .content {
        padding: 20px 0;
        display: inline;
    }

    .team-work-section .row:nth-child(even) .content {
        padding-right: 0px;
        padding-left: 0px;
    }

    .team-work-section .row:nth-child(even) .img {
        margin-left: -6%;
        border-radius: 40px;
    }

    .team-work-section .row:nth-child(even) .img img {
        border-radius: 0 40px 40px 0;
    }

    .team-work-section .row:nth-child(even) .content {
        text-align: start;
    }

    /* mereu-timpul */
    .mereu-timpul .container {
        padding-top: 30px;
        padding-bottom: 300px;

    }

    .mereu-timpul .container .content-1 {
        width: 100%;
    }

    .mereu-timpul .container .content-1 h2 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;

    }



    .mereu-timpul .container .content-1 p {
        font-size: 16px;


    }

    .mereu-timpul .container .sub-content {
        width: 90%;
        background-size: cover;
        background-position: bottom left;
        border-radius: 50px;
        left: 5%;
        padding-top: 70px;
    }

    .mereu-timpul .container .sub-content .items {
        padding: 50px 20px;
    }

    .mereu-timpul .container .sub-content h2 {
        font-size: 24px;
        line-height: 3px;
        margin-bottom: 30px;


    }

    .mereu-timpul .container .sub-content p {
        font-size: 16px;

    }

    .mereu-timpul .container .sub-content button {
        margin-top: 42px;
        padding: 10px 40px;
        font-size: 18px;



    }

    /* suntem-section */
    .suntem-section .container {
        padding: 350px 0 50px 0;
    }

    .suntem-section .container .content {
        width: 90%;
        margin: 0 auto;

    }

    .suntem-section .container .content h2 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 0px;
    }

    .suntem-section .container .content p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;

    }

    /* footer-top  */
    footer .container {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    footer .container .footer-top .content {
        grid-template-columns: 3fr;
        gap: 20px;
        margin-bottom: 300px;
    }

    footer .container .footer-top .content .footer-list .list-title {
        margin: 0;
    }

    footer .container .footer-top .content .footer-list .list-title img {
        display: block;
        background: #00000075;
    }

    footer .container .footer-top .content .footer-list .list-description,
    footer .container .footer-top .content .footer-list ul {
        display: none;
    }

    footer .container .footer-top .content .media {
        display: flex;
    }

    .footer-bottom {
        display: none;
    }
}