@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.container-mini {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 110px 0;
    column-gap: 100px;

}


.hero-banner {
    background-image: url(../images/banner-hero\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-banner .content {
    padding: 196px 0;
    margin: 0 auto;
}

.hero-banner .content h2 {
    font-family: "Domine", serif;
    color: #B36F36;
    font-size: 68px;
    font-weight: 500;
    line-height: 77px;
    margin-bottom: 55px;
}

.hero-banner .content p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #4B2E25;

}

.faunus-plant-section .container {
    background: #EDDCC2;
}

.faunus-plant-section .content {
    color: #4B2E25;
    text-align: left;

}

.faunus-plant-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 70px;
}

.faunus-plant-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

.col-1-2 .img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faunus-plant-section .img img {
    aspect-ratio: 10/6.5;
}

.quality-section {
    padding: 110px 0;
}

.quality-section .container {
    background: #F9F8F2;
}

.quality-section .quality-gallery .qualitys .type-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    margin-bottom: 32px;

}

.quality-section .quality-gallery .qualitys .type-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
}

.quality-section .quality-gallery .qualitys .quality {
    border: 1px solid grey;
    color: #B36F36;
}

.quality-section .quality-gallery .qualitys .quality .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 55px;

}

.quality-section .quality-gallery .qualitys .quality .content p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.quality-section .quality-gallery .qualitys .quality .content img {
    width: 100px;
    aspect-ratio: 1/1;
    margin-bottom: 32px;
}

/* asociatia-section */
.asociatia-section .container {
    background:
        #757F5F;
    color: #fff;
}

.asociatia-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 70px;
}

.asociatia-section .content h2>span {
    font-weight: 700;
}

.asociatia-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

}

/* team work */
.team-work-section {
    margin: 110px 0;
}

.team-work-section .container .row {
    justify-content: center;
    padding: 0;
    gap: 0;
}


.team-work-section .row:nth-child(odd) .content {
    padding-left: 100px;
    padding-right: 50px;
}

.team-work-section .row:nth-child(even) .content {
    padding-right: 100px;
    padding-left: 50px;
}

.team-work-section .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding: 70px 0;
}


.team-work-section .content h2 {
    font-family: "Josefin Sans";
    font-size: 34px;
    font-weight: 400;
    line-height: 46px;
    color: #313131;
    margin-bottom: 40px;


}

.team-work-section .content p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #313131;

}

.team-work-section .container .row .col-1-2 .img {
    height: 100%;
}

.team-work-section .container .row .col-1-2 .img img {
    height: 100%;
}

.mereu-timpul .container {
    background: #EDDCC2;
    padding-top: 110px;
    padding-bottom: 250px;
    position: relative;
}

.mereu-timpul .container .content-1 {
    width: 80%;
    margin: 0 auto;
}

.mereu-timpul .container .content-1 h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #4B2E25;
    margin-bottom: 60px;
}

.mereu-timpul .container .content-1 p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #4B2E25;

}

.mereu-timpul .container .sub-content {
    width: 80%;
    height: auto;
    background-image: url(../images/sb-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    position: absolute;
    bottom: -50%;
    left: 10%;
    border-radius: 50px;


}

.mereu-timpul .container .sub-content .items {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
}

.mereu-timpul .container .sub-content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-bottom: 60px;
}

.mereu-timpul .container .sub-content p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;

}

.mereu-timpul .container .sub-content button {
    margin-top: 42px;
    padding: 20px 40px;
    border-radius: 50px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    color: #49682F;
    border: none;


}

.suntem-section .container {
    background: #F9F8F2;
    padding: 400px 0 110px 0;
}

.suntem-section .container .content {
    width: 50%;
    margin: 0 auto;
}

.suntem-section .container .content h2 {
    font-family: "Josefin Sans";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #313131;
    margin-bottom: 60px;
}

.suntem-section .container .content p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}

/* for mobile */
@media only screen and (min-width: 600px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-banner {

        display: flex;
        flex-direction: column;

    }

    .hero-banner .content h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        background: #000;

    }
}